*{  
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    width: auto;
    
}
body{
    margin: 0%;
   
}
header{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone{
    position: relative;
    right: 25%;
}
.cadre_photo{
    z-index: -2;
    height: 194px;

 }
 .photo{
     object-fit: cover;
     width: 100%;
     height: 100%;    
 }
 h2{
    font-family: 'Shrikhand', sans-serif;
    font-size: 22px;
 }
 .width95{
    background-color: #f2f2f2;
     width: 100%;
     padding-left: 5%;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
 }
 .titre_coeur{
     display: flex;
     align-items: center;
     width: 95%;
     justify-content: space-between;
 }
 main i{
     font-size: 18px;
 }
 main{
    
    display: flex;
     justify-content: flex-start;
     flex-direction: column;
     z-index: 2;
     margin-top: -45px; 
}
section{
    
}
main h3{
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 10px;
    font-weight: normal;
    border-bottom: 2px solid  #99E2D0;
    width: 30px;
    padding-bottom: 2px;
    
}
.margin_menu{
    margin-bottom: 30px;
}
.case_plat{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.texte_coeur{
    display: flex;
    flex-direction: column;  
}
.texte_coeur h4{
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 0%;
}
.texte_coeur p{
    font-size: 11px;
    margin-bottom: 7px;
    margin-top: 0%;
}
.price{
    font-size: 12px;
    margin-top: 12px;
}
.commander{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
}
.commander p{
    margin-bottom: 0%;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 65%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
    background: linear-gradient(#FF79DA,#9356DC );
}
a{
    text-decoration: none;
}
footer h3 ,h1{
    font-family: 'Shrikhand', sans-serif;
}
footer h3{
    color: white;
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 10px;
}
li{
    color: white;
    font-size: 10px;
    margin-top: 0%;
    margin-bottom: 4px;
}

h1{
    text-align: center;
    font-size: 20px;
    margin: 0%;
}

footer{
    background-color :#303030;
    padding: 5%;
}
ul{
    list-style-type: none;
    padding-inline-start: 0%;
    margin: 0%;
}

